.tooltip-container {
    position: absolute;

    top: calc(100% + 12px);
    left: 50%;

    width: 300px;

    background: white;
    border-radius: 14px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 12px 30px rgba(0,0,0,.12);

    overflow: visible;

    transform: translateX(-50%);

    transition:
        opacity .2s ease,
        transform .2s ease;

    z-index: 9999;
}

.tooltip-header {

    padding: 14px 18px;

    background: #f8fafc;

    border-bottom: 1px solid #e5e7eb;

    font-weight: 600;

}

.tooltip-body {

    padding: 18px;

    line-height: 1.6;

    color: #444;
}

.tooltip-footer {

    border-top: 1px solid #eee;

    padding: 12px 18px;

    display: flex;

    justify-content: center;
}

.flashcard-button {

    background: #ffffff;

    color: rgb(0, 0, 0);

    border: 2px solid #e5e7eb;

    border-radius: 8px;

    padding: 8px 14px;

    cursor: pointer;
}
.category-badge.spelling {
    background: #fee2e2;
    color: #b91c1c;
}

.category-badge.grammar {
    background: #dbeafe;
    color: #1d4ed8;
}

.category-badge.vocabulary {
    background: #dcfce7;
    color: #166534;
}

.category-badge.punctuation {
    background: #fef3c7;
    color: #92400e;
}

.category-badge.other {
    background: #d8def2;
    color: #504d50;
}

.tooltip-correction {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 12px;

    margin-bottom: 18px;

    font-size: 18px;
}

.tooltip-original {

    text-decoration: line-through;
    color: #dc2626;
}
.tooltip-incorrect-container {
    display: flex;         
    gap: 10px;            
    align-items: center;
}

.tooltip-arrow {

    color: #888;

    font-weight: bold;
}

.tooltip-corrected {

    color: #16a34a;

    font-weight: 600;
}
.tooltip-corrected-container {
    display: flex;         
    gap: 10px;            
    align-items: center;
}

.tooltip-explanation {

    line-height: 1.6;

    color: #444;

    font-size: 15px;
}
.correction-wrapper {

    position: relative;

    cursor: pointer;
}

.incorrect-text,
.corrected-text {

    transition: .2s;
}

.incorrect-text:hover,
.corrected-text:hover {

    transform: translateY(-1px);
}

/* create the illusion of a tale for the tooltip */

.tooltip-container::after {
    content: "";

    position: absolute;

    top: -10px;

    left: 50%;

    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f8fafc;

    z-index: 2;
}

.tooltip-container::before {
    content: "";

    position: absolute;

    top: -11px;

    left: 50%;

    transform: translateX(-50%);

    width: 0;
    height: 0;

    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #e5e7eb;

    z-index: 1;
}

.close-icon {
    color: #dc2626;
}

.check-icon {
    color: #16a34a;
}