


.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}


.review-header h2 {
    font-size: 28px;
    font-weight: 600;
}

.journal-content {

    background: white;

    padding: 30px;

    border-radius: 12px;

    border: 1px solid #e5e5e5;

    font-size: 20px;

    line-height: 1.8;

    min-height: 200px;
    overflow: visible;
}

.journal-title-input{
    border:none;
    font-weight: bold;
    text-align: left;
    padding-left: 0;
    font-size: x-large;
    margin: 0;
}

.journal-title-input:hover{
    color:#6d28d9;
    cursor: pointer;
    border:none;
}

.journal-title-input:focus{
    color:#6d28d9;
    border:none;
    outline: none;
    border: none;
}
